{
  "plugins": [
    "cypress"
  ],
  "env": {
    "cypress/globals": true
  },
  "extends": [
    "plugin:cypress/recommended"
  ],
  "overrides": [{
    "files": [ "*.spec.js" ],
    "rules": {
      "jest/valid-expect": 0,
      "jest/expect-expect": 0,
      "jest/valid-expect-in-promise": 0
    }
  }]
}
